Checks: 'readability-*,cert-*,llvm-*,misc-*,clang-diagnostic-*,-cert-msc32-c,-cert-msc51-cpp'
WarningsAsErrors: 'readability-*,cert-*,llvm-*,misc-*,clang-diagnostic-*,-cert-msc32-c,-cert-msc51-cpp'
CheckOptions:
  - key:             readability-identifier-naming.EnumCase
    value:           CamelCase
  - key:             readability-identifier-naming.FunctionCase
    value:           lower_case
  - key:             readability-identifier-naming.UnionCase
    value:           CamelCase
  - key:             readability-identifier-naming.VariableCase
    value:           lower_case
  - key:             readability-identifier-naming.ParameterCase
    value:           lower_case
